# Security / Secrets
.env

# Virtual Environments
venv/
.venv/

# Python Build Artifacts & Caches
__pycache__/
*/__pycache__/
*.pyc
*.egg-info/

# Package Manager Locks (Optional, but usually kept if using uv)
# uv.lock 

# Media Files (Uncomment these if you want to keep videos OFF GitHub)
# submission_video.mp4
# submission_video.gif